.input {
  width: 380px;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.input__container {
  width: 396px;
  margin: 0;
  padding: 0;
  border: none;
}

.input__container_type_profile {
  width: 410px;
}

.input__container_type_profile:first-of-type {
  border-bottom: 1px solid #e8e8e8;
  margin-top: 108px;
}

.input__container_type_auth:first-of-type {
  margin-top: 10px;
}

.input::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.input__label_type_profile {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  padding-top: 18px;
}

.input_type_profile {
  text-align: right;
  width: 410px;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  padding: 16px 0;
}

.input__label_type_auth {
  display: inline-block;
  position: absolute;
  margin-top: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
}

.input_type_auth {
  min-height: 46px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-top: 42px;
  padding: 0;
  padding-left: 16px;
}

.input__error-message {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #FF3055;
  padding-top: 5px;
}

@media screen and (max-width: 1000px) {
  .profile {
    padding-top: 236px;
  }
  .input__container_type_profile:first-of-type {
    margin-top: 80px;
  }
  .input__container_type_auth:first-of-type {
    margin-top: 16px;
  }
}

@media screen and (max-width: 600px) {
  .profile {
    padding-top: 236px;
  }
  .input_type_profile {
    max-width: 260px;
  }
  .input__container_type_profile:first-of-type {
    margin-top: 63px;
  }
  .input__container_type_profile {
    max-width: 260px;
  }
  .input_type_auth {
    max-width: 244px;
  }
  .input__container_type_auth {
    max-width: 260px;
  }
  .input__container_type_auth:first-of-type {
    margin-top: 55px;
  }
}
