.cards {
  padding: 80px 70px 50px;
}

.cards__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 1fr);
}

.cards__more-button {
  width: 100%;
  height: 36px;
  color: #000000;
  background: #f9f9f9;
  border-radius: 6px;
  margin: 32px 0 18px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.cards__more-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .cards {
    padding: 80px 30px 50px;
  }
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
  }
}

@media screen and (max-width: 600px) {
  .cards {
    padding: 50px 10px 50px;
  }
  .cards__list {
    grid-template-columns: 1fr;
  }
  .cards__more-button {
    margin: 28px 0 36px;
  }
}
