.section-title {
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #000000;
}

@media screen and (max-width: 600px) {
  .section-title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  }
}