.profile {
  padding-top: 74px;
}

.profile__container {
  padding-top: 205px;
  display: flex;
  flex-direction: column;
}

.profile__button {
  background-color: #FFFFFF;
  outline: none;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  padding-bottom: 16px;
}

.profile__button_type_logout {
  color: #FF3055;
}

.profile__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .profile {
    padding-top: 236px;
  }
  .profile__container {
    padding-top: 195px;
  }
}

@media screen and (max-width: 600px) {
  .profile {
    padding-top: 70px;
  }
  .profile__container {
    padding-top: 365px;
  }
}