.error {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  text-align: center;
  padding: 246px 0 60px;
}

.error__container {
  width: 100%;
}

.error__title {
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
  color: #000000;
  margin: 0;
  padding: 0 0 5px;
}

.error__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  padding: 0 0 184px;
  margin: 0;
}

.error__button {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #3456F3;
  background-color: #FFFFFF;
  border: none;
  outline: none;
}

.error__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .error {
    padding: 410px 0 60px;
  }
}

@media screen and (max-width: 600px) {
  .error {
    padding: 330px 0 60px;
  }
  .error__title {
    font-size: 80px;
    line-height: 97px;
  }
  .error__subtitle {
    font-size: 12px;
    line-height: 15px;
    padding: 4px 0 280px;
  }
  .error__button {
    font-size: 12px;
    line-height: 15px;
  }
}