.promo {
  box-sizing: border-box;
  padding: 75px 70px;
  width: 100%;
  max-width: 1280px;
  background-color: #073042;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.promo__container {
  box-sizing: border-box;
  max-width: 640px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.promo__title {
  font-size: 50px;
  line-height: 58px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0 0 36px;
}

.promo__subtitle {
  max-width: 310px;
  font-size: 13px;
  line-height: 16px;
  font-style: normal;
  font-weight: 400;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin: 0;
  padding: 0 0 146px;
}

.promo__image {
  background-image: url(../../images/promo/promo__image.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 310px;
  height: 304px;
}

.promo__button {
  box-sizing: border-box;
  border-radius: 3px;
  width: 129px;
  height: 36px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.promo__button:hover {
  background-color: #2BE080;
  border: none;
  color: #000000;
  cursor: pointer;
}

@media screen and (max-width: 1091px) {
  .promo {
    flex-direction: column;
    flex-flow: column-reverse;
    align-items: center;
    padding-top: 140px;
  }
  .promo__container {
    align-items: center;
    text-align: center;
  }
  .promo__title {
    font-size: 40px;
    line-height: 50px;
    padding: 50px 0 20px;
  }
  .promo__subtitle {
    max-width: 260px;
    padding-bottom: 93px;
  }
}

@media screen and (max-width: 600px) {
  .promo {
    padding: 70px 14px 31px;
  }
  .promo__title {
    font-size: 30px;
    line-height: 38px;
    padding: 43px 0 25px;
    letter-spacing: -0.04em;
  }
  .promo__container {
    max-width: 300px;
  }
  .promo__image {
    width: 210px;
    height: 206px;
  }
  .promo__subtitle {
    padding-bottom: 79px;
  }
}