.header {
  margin: 0 auto;
  padding: 18px 70px;
  max-width: 100%;
  max-height: 74px;
  background-color: #073042;
}

.header_theme_light {
  background: #ffffff;
}

.header__container {
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .header {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding: 18px 14px;
  }
}
