.register {
  width: 396px;
  margin: 0 auto;
  padding-top: 70px;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.register__logo {
  margin-bottom: 38px;
}

.register__link:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .register {
    padding-top: 230px;
  }
}

@media screen and (max-width: 600px) {
  .register {
    padding-top: 55px;
    max-width: 260px;
    align-items: center;
  }
  .register__logo {
    margin-bottom: 48px;
  }
}