.footer {
  max-height: 172px;
  padding: 80px 70px 20px;
}

.footer__title {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
  padding: 0 0 12px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.footer__navigate {
  display: flex;
}

.footer__links-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.footer__link-item {
  padding-right: 20px;
}

.footer__link-item:last-of-type {
  padding-right: 0px;
}

.footer__link {
  text-decoration: none;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  padding: 0;
  margin: 0;
}

.footer__link:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .footer {
    padding: 80px 23px 20px 30px;
  }
  .footer__title {
    padding-bottom: 20px;
    margin-bottom: 18px;
  }
  .footer__copyright {
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    padding-left: 5px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    max-height: 270px;
    padding: 60px 10px 10px;
  }
  .footer__title {
    margin-bottom: 29px;
    font-size: 12px;
    line-height: 15px;
  }
  .footer__copyright {
    font-size: 12px;
    line-height: 15px;
    margin: 21px 0 0;
    padding-left: 0;
  }
  .footer__container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer__links-list {
    flex-direction: column;
  }
  .footer__link-item {
    padding-right: 0;
    padding-bottom: 9px;
  }
  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }
}
